{% extends 'base.html' %}
{% block title %}
Обновление статьи
{% endblock %}
{% block body %}
<div class="container">
    <h1>Обновление</h1>
</div>
<form method="post">
    <input type="text" name="title" id="title" class="container form-control" value="{{ article.title }}" placeholder="Название статьи"><br>
    <textarea name="intro" id="intro" class="container form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
    <textarea name="text" id="text" class="container form-control" placeholder="Основной текст">{{ article.text }}</textarea><br>
    <textarea name="user" id="user" class="container form-control" placeholder="Автор статьи">{{ article.user }}</textarea><br>
    <textarea name="tel" id="tel" class="container form-control" placeholder="Телефон для связи">{{ article.tel }}</textarea><br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" class=" btn btn-success" value="Обновить">
    </div>
</form>
{% endblock %}